[Unit]
Description=myapp

[Service]
ExecStart=/usr/bin/java -jar /home/spti/Documents/DisponibilidadDesempe-o/target/web-page-0.0.1-SNAPSHOT.jar
WorkingDirectory=/home/spti/Documents/DisponibilidadDesempe-o/target

[Install]
WantedBy=multi-user.target
